.app {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

table {
  padding: 4px;
  border: solid 1px gray;
  border-collapse: collapse;
}

header {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  padding: 10px;
  border: solid 1px gray;
}
tr {
  padding: 10px;
}

th {
  border-bottom: 'solid 3px red';
  background: 'aliceblue';
  color: 'black';
  font-weight: 'bold';
}

td,
input {
  width: 10vh;
}

label{
  margin: 8px ;
  font-weight: 500;
}

input {
  margin:4px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

.states {
  padding: 16px;
  font-size: 14px;
  font-weight: 800;
  margin:16px 8px;
  border-radius: 16px;
  border: none;
}

.initialState {
  background-color: #235e1b;
  color: white;
}

.finalState {
  background-color: #860000;
  color: white;
}

.stateColumn {
  border-right: 2px solid black;
  padding: 0px 10px;
}

span {
  margin:8px;
  font-size: 18px;
}

.convertButton{
  display: flex;
  align-self: center;
  padding:18px;
  cursor: pointer;
}

.resultContainer{
  display: flex;
  flex-direction: column;
  align-self: center;
  border:none;
  margin-top:18px;
}

.stateContainer{
  display: flex;
  flex-direction: column
}